In [3]:
from quantrocket.history import get_historical_prices
import quantrocket.db
from quantrocket import *


#Variables

universe = "australia-stk"
db = "australia-stk-1day"
start_date = "2019-01-02"
end_date = "2019-01-05"



prices = get_historical_prices(db, 
                               start_date=start_date,
                               end_date=end_date, 
                               universes=universe,
                               fields=["High", "Low", "Open", "Close"])

In [5]:
closes = prices.loc["Close"]

In [6]:
closes.head()

ConId,3882741,4036812,4036818,4036823,4036833,4039707,4081863,4109645,4109651,4109654,...,346070193,346215855,346216377,346362067,346523933,347787870,348087382,349593258,349593265,349593316
Date,,,,,,,,,,,,,,,,,,,,,
2019-01-02,2.44,33.68,70.97,23.63,24.48,NaN,2.77,23.86,11.11,76.65,...,0.475,2.23,NaN,0.110,100.225,0.875,0.080,NaN,0.026,0.0020
2019-01-03,2.47,33.68,71.84,23.93,25.04,NaN,2.85,24.34,11.54,76.65,...,0.485,2.18,0.085,0.115,100.080,0.850,NaN,0.01,NaN,0.0020
2019-01-04,2.42,33.38,71.89,23.98,25.03,6.2,2.89,24.25,11.30,76.83,...,0.475,2.14,0.099,NaN,100.070,0.820,0.075,0.01,0.024,0.0025